@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    
}

:root {
    --grayish: #2B2B2B;
}

main {
    position: relative;
    top: 3rem;
    left: 13%;
    width: 85%;
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
    color: white;
    font-weight: 300;
    font-family: 'Blinker', sans-serif;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    padding: 2rem 0 2rem 1.1rem;

}
.sidebar {
    height: 100vh;
    width: 13%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    border-right: 1px solid var(--grayish);
}
.main_nav {
    display: flex;
    flex-direction: column;

}
.main_nav a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}
.main_nav a:hover {
    background-color: var(--grayish);
    border-radius: 5px;
    transition: .5s ease-out;
}
.center {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.center_top {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grayish);
}
.center_top a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.reels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}
.singleReel {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.singleReel img {
    max-width: 65px;
    height: 60px;
    width: 100%;
    border: 2px solid red;
    border-radius: 100%;
}
.reelUsername {
    text-align: center;
    font-size: .8rem;
}
.right {
    padding-top: 1rem;
    width: 18%;
    margin-left: 6rem;
    font-size: .9rem;
}
.profile, .suggested {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nickname {
    font-size: 1rem;
}
.profile_info {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.profile_avatar {
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}
.profile_avatar img {
    height: 100%;
    
}
.profile_name a {
    font-weight: 600;
    text-decoration: none;
}
.profile_name p {
    color: gray;
}
.suggested {
    padding: 1.5rem 0 1.5rem 0;
}
.suggested p {
    color: gray;
}